* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 81%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}

.pic img {
  border-radius: 50%;
}

/* Mobile Version */
@media screen and (min-width:375px) {

  .container {
    margin: 2rem 1rem;
  }

  
}

.attribution {
  font-size: 11px;
  text-align: center;
  }

.attribution a {
  color: hsl(228, 45%, 44%);
}